/* Variables */

:root {
  --basic-white: #fff;
  --basic-black: #000;
  --basic-blue: #81b3d2;
  --basic-brown: #766357;
  --basic-gray: #eee;
  --basic-dark-brown: #604e43;
  --basic-extra-brown: #503e33;
  --basic-dark-blue: #669ec0;
  --basic-extra-blue: #5496bd;
  --basic-light-gray: #333;
  --basic-dark-gray: #f2f2f2;
  --basic-extra-gray: #ebebeb;
}

/* Global */

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-dark-gray);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.main-navigation {
  font-size: 14px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: transparent;
}

.main-navigation-wrapper {
  background-color: var(--basic-white);
}

.site-navigation {
  list-style: none;
}

/* User navigation */

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:focus {
  color: var(--basic-brown);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Main container*/

.container {
  background-color: var(--basic-white);
}

/* Description */

.description {
  text-align: center;
}

.description-text {
  font-size: 21px;
  font-weight: 700;
}

.description p {
  color: var(--basic-light-gray);
}

/* Features */

.features__list {
  list-style: none;
  color: var(--basic-white);
}

.features-item__img {
  background-color: var(--basic-brown);
}

.features__item:first-child {
  background-color: var(--basic-blue);
}

.recomendations-list {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.recomendations-list__item:first-child {
  background: url("../img/icons/icon-house.svg") no-repeat;
}

.recomendations-list__item:nth-child(2) {
  background: url("../img/icons/icon-burger.svg") no-repeat;
}

.recomendations-list__item:nth-child(3) {
  background: url("../img/icons/icon-gift.svg") no-repeat;
}

.features__item:nth-child(2) {
  background-color: var(--basic-blue);
}

.features__item:nth-child(n + 3) {
  background-color: var(--basic-gray);
  color: var(--basic-black);
}

/* Booking */

.booking {
  text-align: center;
}

.booking__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
}

.booking__button {
  background-color: var(--basic-brown);
  color: var(--basic-white);
}

.booking__button:hover {
  background-color: var(--basic-dark-brown);
  color: var(--basic-white);
}

.booking__button:active {
  background-color: var(--basic-extra-brown);
}

.booking__button span:active {
  background-color: var(--basic-extra-brown);
  opacity: 0.3;
}

/* Footer */

.main-footer {
  background: rgba(255, 255, 255, 0.9);
}

/* Footer contacts */

.footer-contacts {
  color: var(--basic-black);
  font-weight: 700;
  font-size: 21px;
}

.footer-phone {
  color: var(--basic-black);
}

.footer-socials {
  text-align: center;
}

.footer-socials ul {
  list-style: none;
}

/* Social button */

.social-button {
  background-color: var(--basic-blue);
}

.social-button:hover {
  background-color: var(--basic-dark-blue);
}

.social-button:active {
  background-color: var(--basic-extra-blue);
  opacity: 0.3;
}

/* HTML-Academy copyright */

.footer-copyright img:hover {
  content: url("../img/logo_htmlacademy_blue.svg");
}

.footer-copyright img:active {
  content: url("../img/logo_htmlacademy_gray.svg");
}

/* Modal */

.modal {
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

/* Form */

.booking-form {
  font-weight: 700;
}

.booking-icon-arrive,
.booking-icon-departure,
.mature-count,
.children-count {
  background-color: var(--basic-dark-gray);
}

.booking-icon-arrive:hover,
.booking-icon-departure:hover,
.mature-count:hover,
.children-count:hover {
  background-color: var(--basic-extra-gray);
}

.booking-icon-arrive:focus,
.booking-icon-departure:focus,
.mature-count:focus,
.children-count:focus {
  background-color: var(--basic-white);
}

/* Form button */

.form-button {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.form-button:hover {
  background-color: var(--basic-dark-blue);
}

.form-button:active {
  background-color: var(--basic-extra-blue);
  opacity: 0.3;
}

/* CATALOG */

/* Filter */

/* .column-index {
  columns: 3;
} */

.filter {
  background: url("../img/content/blur-background.jpg") no-repeat top center;
  background-color: var(--basic-blue);
  background-size: cover;
}

/* Forms of filtration */

legend {
  color: var(--basic-white);
  font-size: 16px;
  font-weight: 700;
}

.filter-form-infrastructur__list,
.filter-form-type-of-housing__list,
.filter-form__cost-per-day {
  list-style: none;
  color: var(--basic-white);
}

.filter-form__cost-per-day input {
  background-color: transparent;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

/* Button of Forms filtr */

.filter-form-button {
  background-color: transparent;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.filter-form-button:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

/* Result of filtration */

.result-of-filtration__text {
  font-weight: 700;
  font-size: 21px;
}

.result-of-filtration__title {
  font-size: 12px;
  line-height: 18px;
}

/* result-of-filtration__list */

.result-of-filtration__list {
  list-style: none;
}

/* result-of-filtration-list__item a */

.result-of-filtration-list__item a {
  color: var(--basic-black);
  opacity: 0.3;
}

.result-of-filtration-list__item a:hover {
  color: var(--basic-blue);
  opacity: 1;
}

.result-of-filtration-list__item a:focus {
  color: var(--basic-blue);
  opacity: 1;
}

.result-of-filtration-list__item a:active {
  color: var(--basic-black);
  opacity: 1;
}

/* result-of-filtration-list__button */

.result-of-filtration-list-button {
  color: var(--basic-black);
  opacity: 0.3;
}

.result-of-filtration-list-button:hover {
  color: var(--basic-black);
  opacity: 1;
}

.result-of-filtration-list-button:focus {
  color: var(--basic-blue);
  opacity: 1;
}

.result-of-filtration-list-button:active {
  color: var(--basic-blue);
  opacity: 1;
}

/* Table of filtration results */

th a {
  font-weight: 700;
  font-size: 21px;
  color: var(--basic-black);
}

th a:hover {
  color: var(--basic-blue);
}

th a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.result-of-filtration-table-row-data-table-row__data {
  color: var(--basic-light-gray);
}

/* Raed more */

.result-of-filtration-table-row-data-table-row__data .read-more {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.result-of-filtration-table-row-data-table-row__data .read-more:hover {
  color: var(--basic-white);
  background-color: var(--basic-dark-blue);
}

.result-of-filtration-table-row-data-table-row__data .read-more:active {
  color: var(--basic-white);
  background-color: var(--basic-extra-blue);
}

.result-of-filtration-table-row-data-table-row__data span:active {
  color: var(--basic-white);
  opacity: 0.3;
}

/* Book */

.result-of-filtration-table-row-data-table-row__data .book {
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.result-of-filtration-table-row-data-table-row__data .book:hover {
  color: var(--basic-white);
  background-color: var(--basic-dark-brown);
}

.result-of-filtration-table-row-data-table-row__data .book:active {
  color: var(--basic-white);
  background-color: var(--basic-extra-brown);
}

.result-of-filtration-table-row-data-table-row__data span:active {
  color: var(--basic-white);
  opacity: 0.3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
