/* Variables */

:root {
  --basic-white: #fff;
  --basic-black: #000;
  --basic-blue: #81b3d2;
  --basic-brown: #766357;
  --basic-gray: #eee;
  --basic-dark-brown: #604e43;
  --basic-extra-brown: #503e33;
  --basic-dark-blue: #669ec0;
  --basic-extra-blue: #5496bd;
  --basic-light-gray: #333;
  --basic-dark-gray: #f2f2f2;
  --basic-extra-gray: #ebebeb;
}

/* Global */

.page-body {
  min-width: 960px;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-dark-gray);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-container {
  margin: 0 auto;
  width: 1200px;
}

a {
  text-decoration: none;
  z-index: 1;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

/* Global Grid */
.page {
  height: 100%;
}

/* Features List Grid */

.features__list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows:
    1fr
    min-content
    min-content;
}
/* Real town Grid */
.real-town {
  display: grid;
  grid-template-columns: 400px 800px;
  grid-template-rows: min-content 1fr;
  grid-column: 1/-1;
}

.recomendations-list {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr;
  grid-column: 1/-1;
}

/* Devils Bridge Grid */

.devils-bridge {
  display: grid;
  grid-template-areas: "photo description";
  grid-template-columns: 800px 400px;
  grid-column: 1/-1;
}

.devils-bridge .features-item__img {
  grid-area: photo;
}

.devils-bridge .features-description {
  grid-area: description;
}

/* Modal Grid */

.booking-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
    max-content
    max-content
    max-content
    1fr;
}

/* Flex */

/* Header Flex */

.site-navigation {
  display: flex;
}

/* Footer Flex */

.footer-contacts {
  display: flex;
  justify-content: space-around;
}

.footer-contacts__socials ul {
  display: flex;
  justify-content: space-around;
  gap: 6px;
}

/* Modal Flex */

/* .booking-form p:nth-child(3) {
  display: flex;
  justify-content: space-around;
} */

/* Main navigation */

.main-navigation {
  font-size: 14px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: transparent;
  position: relative;
}

.main-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-navigation-wrapper {
  background-color: var(--basic-white);
  padding: 15px 0;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation li:first-child {
  margin: 0 134px 0 72px;
}

.site-navigation li:nth-child(2) {
  margin-right: 418px;
}

.site-navigation li:nth-child(3) {
  margin-right: 147px;
}

/* User navigation */

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:focus {
  color: var(--basic-brown);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Main container*/

.container {
  background-color: var(--basic-white);
}

/* Description */

.description {
  text-align: center;
  padding-bottom: 51px;
}

.description__info {
  height: 80px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin: 41.5px 0 16.5px 0;
}

.description__reasons {
  margin: 0;
  line-height: 26px;
}

.description p {
  color: var(--basic-light-gray);
}

/* Features */

.features__list {
  list-style: none;
  color: var(--basic-white);
}

.features__item:nth-child(n + 3) {
  padding-bottom: 81px;
}

.features-item__img {
  background-color: var(--basic-brown);
}

.features__item:first-child {
  background-color: var(--basic-blue);
}

/* real-town feature */

.real-town__features-description {
  box-sizing: border-box;
  text-align: center;
  padding: 0 49px;
}

.real-town__features-description h3 {
  font-weight: 700;
  font-size: 21px;
  margin: 47px 0 25px 0;
}

.real-town__features-description p {
  font-size: 14px;
  margin: 23px 0 0 0;
}

/* recomendation list */

.recomendations-list {
  list-style: none;
  padding: 0;
  background-color: var(--basic-white);
  color: var(--basic-black);
  text-align: center;
}

.recomendations-list__item h4 {
  font-size: 21px;
  margin: 160px 0 25px 0;
}

.recomendations-list__item p {
  font-size: 14px;
  margin: 0;
  padding: 0 55px;
}

/* Devils Bridge */

.devils-bridge__features-description {
  padding: 0;
  text-align: center;
}

.devils-bridge__features-description h3 {
  font-weight: 700;
  font-size: 21px;
  margin: 47px 0 25px 0;
}

.devils-bridge__features-description p {
  font-size: 14px;
  margin: 23px 0 0 0;
}

.recomendations-list__item {
  padding-bottom: 81px;
}

.recomendations-list__item:first-child {
  background: url("../img/icons/icon-house.svg") no-repeat center 60px;
}

.recomendations-list__item:nth-child(2) {
  background: url("../img/icons/icon-gift.svg") no-repeat center 60px;
}

.recomendations-list__item:nth-child(3) {
  background: url("../img/icons/icon-burger.svg") no-repeat center 55px;
}

/* Features Item */

.features__item:nth-child(n + 3) {
  text-align: center;
  padding: 47px 0 51px 0;
}

.features__item:nth-child(n + 3) h3 {
  font-size: 21px;
  line-height: 21px;
  margin: 0 0 25px 0;
}

.features__item:nth-child(n + 3) p {
  margin-top: 23px;
}

.features__item:nth-child(2) {
  background-color: var(--basic-blue);
}

.features__item:nth-child(n + 3) {
  background-color: var(--basic-gray);
  color: var(--basic-black);
}

/* Booking */

.booking {
  text-align: center;
}

.booking__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  margin: 58px 0 0 0;
}

.booking p {
  height: 95px;
}

.booking__button {
  display: inline-block;
  width: 588px;
  height: 86px;
  background-color: var(--basic-brown);
  color: var(--basic-white);
}

.booking__button span {
  display: inline-block;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 30px;
}

.booking__button:hover {
  background-color: var(--basic-dark-brown);
  color: var(--basic-white);
}

.booking__button:active {
  background-color: var(--basic-extra-brown);
}

.booking__button span:active {
  background-color: var(--basic-extra-brown);
  opacity: 0.3;
}

/* Footer */

.main-footer {
  position: relative;
}

.map {
  z-index: 0;
}

/* Footer contacts */

.footer-contacts {
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  padding: 23px 0 36px 0;
  position: absolute;
  z-index: 1;
  transform: translateY(-140px);
}

.footer-contacts__phone {
  text-align: center;
  color: var(--basic-black);
  font-weight: 700;
  font-size: 21px;
}

.footer-contacts__phone p {
  margin: 0;
}

.footer-phone {
  color: var(--basic-black);
}

.footer-contacts__socials {
  text-align: center;
}

.footer-contacts__socials ul {
  list-style: none;
}

/* Social button */

.social-button {
  display: flex;
  justify-content: center;
  background-color: var(--basic-blue);
  width: 46px;
  height: 48px;
}

.social-button:hover {
  background-color: var(--basic-dark-blue);
}

.social-button:active {
  background-color: var(--basic-extra-blue);
  opacity: 0.3;
}

/* HTML-Academy copyright */

.footer-copyright img:hover {
  content: url("../img/logo_htmlacademy_blue.svg");
}

.footer-copyright img:active {
  content: url("../img/logo_htmlacademy_gray.svg");
}

/* Modal */

.modal {
  width: 568px;
  height: 395px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

/* Form */

.booking-form {
  text-align: center;
  font-weight: 700;
}

.booking-icon-arrive,
.booking-icon-departure {
  width: 346px;
  height: 38px;
  margin: 0 0 0 21px;
}

.mature-count,
.children-count {
  width: 114px;
  height: 38px;
}

.booking-form p:nth-child(-n + 2) {
  margin: 0 0 30px 0;
}

.booking-form p:first-child {
  margin-top: 55px;
}

.booking-icon-arrive,
.booking-icon-departure,
.mature-count,
.children-count {
  background-color: var(--basic-dark-gray);
}

.booking-icon-arrive:hover,
.booking-icon-departure:hover,
.mature-count:hover,
.children-count:hover {
  background-color: var(--basic-extra-gray);
}

.booking-icon-arrive:focus,
.booking-icon-departure:focus,
.mature-count:focus,
.children-count:focus {
  background-color: var(--basic-white);
}

/* Form button */

.form-button {
  width: 458px;
  height: 58px;
  padding: 0;
  margin: 0 55px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.form-button:hover {
  background-color: var(--basic-dark-blue);
}

.form-button:active {
  background-color: var(--basic-extra-blue);
  opacity: 0.3;
}

/* CATALOG */

/* Grid */

.result-of-filtration {
  display: grid;
  grid-template-rows:
    min-content
    min-content
    min-content;
}

.result-of-filtration__hotel,
.result-of-filtration__motel,
.result-of-filtration__appartment {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  column-gap: 30px;
}

/* Filter Grid */

.filter-form {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: max-content;
}

/* Flex */

.categories-of-filtration__wrapper {
  display: flex;
  align-items: center;
}

.categories-of-filtration__list {
  display: flex;
}

.catalog-footer-contacts {
  display: flex;
  justify-content: space-around;
  padding: 23px 0 36px 0;
  background: rgba(255, 255, 255, 0.9);
}
/* Filter */

.filter {
  background: url("../img/content/blur-background.jpg") no-repeat top center;
  background-color: var(--basic-blue);
  background-size: cover;
}

/* Forms of filtration */

.filter-form fieldset {
  text-align: justify;
  border: 0;
}

legend {
  color: var(--basic-white);
  font-size: 16px;
  font-weight: 700;
}

.filter-form-infrastructur__list,
.filter-form-type-of-housing__list,
.filter-form__cost-per-day {
  padding: 0;
  list-style: none;
  color: var(--basic-white);
}

.filter-form__cost-per-day input {
  background-color: transparent;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

/* Button of Forms filtr */

.filter-form-button {
  background-color: transparent;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.filter-form-button:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

/* categories of filtration */

.categories-of-filtration__wrapper {
  margin: 29px 0 31px 0;
}

.categories-of-filtration__text {
  margin: 0 46px 0 73px;
  font-weight: 700;
  font-size: 21px;
}

.categories-of-filtration__title {
  margin: 0 40px 0 0;
  font-size: 12px;
  line-height: 18px;
}

/* categories-of-filtration__list */

.categories-of-filtration__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* categories-of-filtration-list__item a */

.categories-of-filtration-list__item {
  margin: 0 32px 0 0;
}

.categories-of-filtration-list__item:last-child {
  margin: 0 503px 0 0;
}

.categories-of-filtration-list__item a {
  color: var(--basic-black);
  opacity: 0.3;
}

.categories-of-filtration-list__item a:hover {
  color: var(--basic-blue);
  opacity: 1;
}

.categories-of-filtration-list__item a:focus {
  color: var(--basic-blue);
  opacity: 1;
}

.categories-of-filtration-list__item a:active {
  color: var(--basic-black);
  opacity: 1;
}

/* categories-of-filtration-list__button */

.categories-of-filtration-list-button {
  color: var(--basic-black);
  opacity: 0.3;
}

.categories-of-filtration-list-button:hover {
  color: var(--basic-black);
  opacity: 1;
}

.categories-of-filtration-list-button:focus {
  color: var(--basic-blue);
  opacity: 1;
}

.categories-of-filtration-list-button:active {
  color: var(--basic-blue);
  opacity: 1;
}

/* Result of filtration */

.result-of-filtration {
  border: 1px solid #e5e5e5;
}

.result-of-filtration-hotel,
.result-of-filtration-motel,
.result-of-filtration-appartment {
  padding: 0 73px;
}

.result-of-filtration-hotel,
.result-of-filtration-motel {
  border-bottom: 1px solid #e5e5e5;
}

.result-of-filtration-hotel__img,
.result-of-filtration-motel__img,
.result-of-filtration-appartment__img {
  height: 150px;
}

.result-of-filtration-hotel__img img,
.result-of-filtration-motel__img img,
.result-of-filtration-appartment__img img {
  margin: 30px 0;
}

.result-of-filtration-hotel-description,
.result-of-filtration-motel-description,
.result-of-filtration-appartment-description {
  padding: 23.5px 0 30px 0;
}

.result-of-filtration-hotel-description__text,
.result-of-filtration-motel-description__text,
.result-of-filtration-appartment-description__text,
.result-of-filtration-hotel-description__price,
.result-of-filtration-motel-description__price,
.result-of-filtration-appartment-description__price {
  display: inline-block;
  min-width: 110px;
  margin: 7px 0 15.5px 0;
}

.result-of-filtration-hotel-description__text,
.result-of-filtration-motel-description__text,
.result-of-filtration-appartment-description__text {
  margin-right: 6px;
}

.result-of-filtration-hotel-description__title,
.result-of-filtration-motel-description__title,
.result-of-filtration-appartment-description__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
}

.result-of-filtration-hotel-description__title a,
.result-of-filtration-motel-description__title a,
.result-of-filtration-appartment-description__title a {
  color: var(--basic-black);
}

/* Read more */

.read-more {
  display: inline-block;
  width: 110px;
  height: 27px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.read-more:hover {
  color: var(--basic-white);
  background-color: var(--basic-dark-blue);
}

.read-more:active {
  color: var(--basic-white);
  background-color: var(--basic-extra-blue);
}

.read-more span {
  display: flex;
  justify-content: center;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  margin-top: 3px;
}

.read-more span:active {
  color: var(--basic-white);
  opacity: 0.3;
}

/* Book */

.book {
  display: inline-block;
  width: 142px;
  height: 27px;
  text-align: center;
  margin-left: 6px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.book:hover {
  color: var(--basic-white);
  background-color: var(--basic-dark-brown);
}

.book:active {
  color: var(--basic-white);
  background-color: var(--basic-extra-brown);
}

.book span {
  display: flex;
  justify-content: center;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  margin-top: 3px;
}

.book span:active {
  color: var(--basic-white);
  opacity: 0.3;
}

/* Catalog footer */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
